.field{
    margin: 0 auto 10px auto;
    display: flex;
    width: 500px;
    /* border: black solid 1px; */
}

input{
    height: 30px;
    min-width: 100px;
    background: #dbdbdb;
    margin: 5px 20px 0 20px;
    border-radius: 10px;
    border: none;
}

input:focus{
    background-color: #ddd;
    outline: none;
}

input[type=radio]{
    min-width: 0;
    margin-right: 10px;
}

.field-name{
    display: flex;
    min-width: 140px;
    align-items:center;
    height: 40px;
    /* border: black solid 1px; */
}

.full-size-input{
    width: 100%;
}

h1 {
    text-align: center;
}